@charset "UTF-8";
.notie-container {
  font-size: 1.6rem;
  height: auto;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 2147483647;
  box-sizing: border-box;
  -o-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 900px) {
  .notie-container {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 750px) {
  .notie-container {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 400px) {
  .notie-container {
    font-size: 1rem;
  }
}

.notie-background-success {
  background-color: #57BF57;
}

.notie-background-warning {
  background-color: #D6A14D;
}

.notie-background-error {
  background-color: #E1715B;
}

.notie-background-info {
  background-color: #FE5F1E;
}

.notie-background-neutral {
  background-color: #A0A0A0;
}

.notie-background-overlay {
  background-color: #FFFFFF;
}

.notie-textbox {
  color: #FFFFFF;
  padding: 20px;
}

.notie-textbox-inner {
  margin: 0 auto;
  max-width: 900px;
}

.notie-overlay {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483646;
}

.notie-button {
  color: #FFFFFF;
  padding: 10px;
  cursor: pointer;
}

.notie-element {
  color: #FFFFFF;
  padding: 10px;
}

.notie-element-half {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

.notie-element-third {
  display: inline-block;
  width: 33.3333%;
  box-sizing: border-box;
}

.notie-alert {
  cursor: pointer;
}

.notie-input-field {
  background-color: #FFFFFF;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.notie-select-choice-repeated {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.notie-date-selector-inner {
  margin: 0 auto;
  max-width: 900px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.notie-date-selector-inner [contenteditable], .notie-date-selector-inner [contenteditable]:focus {
  outline: 0px solid transparent;
}

.notie-date-selector-up {
  transform: rotate(180deg);
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

.notie-container {
  width: 50 px;
  padding: 0px;
  display: flex;
  left: 1250px;
  border-radius: 25px;
}

.notie-background-info {
  width: 250px;
  border-radius: 25px;
  background-color: #FE5F1E;
}

.notie-textbox-inner {
  margin: 0 auto;
  max-width: 900px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  padding: 4px 10px 4px 10px;
}

.notie-textbox {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

nav li:last-child a {
  background: #FE5F1E;
}
nav li:last-child a:hover {
  background: #b23301;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #F8F8F8;
}

.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: white;
}
.add-to-cart:focus {
  outline: none;
}

.btn-primary {
  background: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #b23301;
}

section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: #FE5F1E;
}

section.login {
  background: #F8F8F8;
  min-height: calc(100vh - 11.25vh);
}
section.login a {
  color: #FE5F1E;
}
section.login a:hover {
  color: #b23301;
}

a.link {
  color: #FE5F1E;
}

section.status {
  background: #F8F8F8;
  min-height: calc(100vh-90px);
}

.status-box {
  padding: 60px 0 0;
}

.status-box ul {
  margin-left: 85px;
}

.status-box ul li span {
  position: relative;
  padding-left: 20px;
}

.status-box ul li span:after {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  background: #232323;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 1px 10px #F8F8F8;
}

.status-box ul li span:before {
  font-family: "Line Awesome Free";
  font-size: 46px;
  font-weight: 600;
  position: absolute;
  left: -90px;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
}

.status-box ul li:nth-child(1) span:before {
  content: "";
}

.status-box ul li:nth-child(2) span:before {
  content: "";
}

.status-box ul li:nth-child(3) span:before {
  content: "";
}

.status-box ul li:nth-child(4) span:before {
  content: "";
}

.status-box ul li:nth-child(5) span:before {
  content: "";
}

.status-box ul li {
  position: relative;
}

.status-box ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 2px;
  height: 100%;
  background: #232323;
  margin-top: 10px;
}

.status-box ul li:nth-child(5) span:after {
  box-shadow: 0 20px 1px 20px #F8F8F8;
}

.status-box ul li.step-completed:before {
  background: #ccc;
}

.status-box ul li.step-completed span:after {
  background: #ccc;
}

.status-box ul li.step-completed span {
  color: #ccc;
}

.status-box ul li.current span {
  color: #FE5F1E;
}

.status-box ul li.current span:after {
  background: #FE5F1E;
}

.status-box ul li small {
  float: right;
  font-size: 14px;
  margin-top: 8px;
}

@media (max-width: 1060px) {
  .container {
    max-width: 90%;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .status-box ul li span:before {
    font-size: 34px;
  }
}
.StripeElement {
  box-sizing: border-box;
  width: 50%;
  margin-left: auto;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
