//colors
$primary: #FE5F1E;
$primary-hover:#b23301;
$secondary:#F8F8F8;
$pure:#fff;
$dark:#232323;
$gray:#ccc;
$notie-color-success: #57BF57;
$notie-color-warning: #D6A14D;
$notie-color-error: #E1715B;
$notie-color-info: #FE5F1E;
$notie-color-neutral: #A0A0A0;


//Transition

$smooth: all .3s ease-in-out;