@import './variables';
@import '../../node_modules/notie/src/notie';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing:antialiased;
    color: $dark;
}

.notie-container{
    width: 50 px;
    padding: 0px;
    display: flex;
    left:1250px;
    border-radius: 25px;

}

.notie-background-info {
    width: 250px;
    border-radius: 25px;
    background-color: #FE5F1E;
}

.notie-textbox-inner {
    margin: 0 auto;
    max-width: 900px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
}

.notie-textbox{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

nav li:last-child a{
    background: $primary;
    &:hover{
        background: $primary-hover;
    }
}

nav li a{
    transition: $smooth ;
    &:hover{
        color: $primary;
    }
}

section.hero{
    background: $secondary;
}

.size{
    background: $secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: white;
    }
    &:focus{
        outline: none;
    }
}

.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}

section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}

section.login{
    background: $secondary;
    min-height: calc(100vh - 11.25vh);
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}

a.link{
    color:$primary
}